h1 {
    color: red;
   }
h2 {
    color: rgb(50, 211, 203);
   }
h3 {
    color: rgb(87, 20, 212);
   }
thead {
    color: rgb(164, 189, 116);
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
tbody {
    color: rgb(9, 122, 156);
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
   }
   